.Header {
  margin: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 6px;
}

.lista {
  display: flex;
  gap: 20px;
  align-items: center;
}
