.main {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  height: 600px;
  background-image: url("/NeuroQuantum/src/assets/chat.png");
  color: rgb(0, 0, 0);
  border-radius: 6px;
  margin: 50px;
}
.neuro {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.descricao {
  font-size: 18px;
  font-style: italic;
  margin-top: 100px;
  margin: 50px;
  line-height: 40px;
}

.brain {
  height: 30px;
  width: 30px;
  margin: 20px;
  display: flex;
  align-items: center;
}
